<div class="signin">

<h1>Sign In</h1>


<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <label>Email<br> -->
    <input name="user[email]" type="text" placeholder="email" class="form-input"><br>
  <!-- </label><br>
  <label>Password<br> -->
    <input name="user[password]" type="password" placeholder="password" class="form-input"><br>
  <!-- </label><br> -->
  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>

<p>or sign in with one of the folowing options:</p>



<form id="sign-in" action="/session" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    
 <input type="hidden" name="user[email]" value='demo@example.com' placeholder="email" class='email-login'>
      
      <input type="hidden" name="user[password]" value="password" placeholder="password" class='password-login'>

    	<input type="submit" value="Guest Sign In" class="btn btn-primary"><br>
</form>

<a href="/auth/facebook"><img src="/assets/facebook_32.png"></a>
<a href="/auth/twitter"><img src="/assets/twitter_32.png"></a>

</div>
